@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);

html {
	background-color: #D8D8D8;
	font-family: 'Open Sans', sans-serif;
}

button {
	border: none;
	width: 13em;
	height: 8em;
	background-color: #fff;
	box-shadow: 0.1px 0.1px 5px #D5D5D5, -0.1px -0.1px 5px #888;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	font-size: 40px;
}
button:hover {
	box-shadow: 0.1px 0.1px 10px #D5D5D5, -0.1px -0.1px 10px #888;
}

form {
	display: inline-block;
	margin-top: 3em;
}

form:nth-child(1) {
	margin-right: 3em;
}

#top-bar {
	width: 100%;
	position: relative;
	height: 15em;
	background-color: rgb(12, 122, 141);
}

#container {
	position: absolute;
	height: 43em;
	top: 50px;
	left: 50px;
	right: 50px;
	background-color: white;
	padding: 1em;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888888;	
}

#container h1 {
	font-weight: 100;
	font-size: 60px;
	padding: 0;
	margin: 0.5em 1em;
	color: #5A5A5A;
}

#sign-out {
	position: absolute;
	right: -1em;
	top: 0;
}
#heart {
	position: absolute;
	right: 2em;
	top: 0;
}

#wrapper {
	text-align: center;
}

