{% extends 'quiz_base.html' %}

{% load static from staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/question_home.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
		<section>
			<article id="top-bar">
				<article id="container">
					<h1>
						{% if message %}
							{{message}}
						{% else %}
							Moar questions
						{% endif %}
					</h1>
					<figure id="sign-out">
						<a href="/logout">
							<img src="{% static 'img/sign-out.svg' %}" alt="logout" width="30" height="30">
						</a>
					</figure>
					<figure id="heart">
						<a href="">
							<img src="{% static 'img/heart.svg' %}" alt="matches" width="30" height="30">
						</a>
					</figure>
					{% if question %}
						<div id="wrapper">
							<form method="POST">
								{% csrf_token %}
								<input type="hidden" name="question" value="{{ question.id }}">
								<input type="hidden" name="answer" value="option_1">
								<button type="submit">{{ question.option_1 }}</button>
							</form>
							<form method="POST">
								{% csrf_token %}
								<input type="hidden" name="question" value="{{ question.id }}">
								<input type="hidden" name="answer" value="option_2">
								<button type="submit">{{ question.option_2 }}</button>
							</form>
						</div>
					{% endif %}
				</article>
			</article>
		</section>
{% endblock %}