{% extends 'social_app_base.html' %}
{% load static from staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static "css/facebook_login.css" %}" />
{% endblock %}

{% block body %}
	<h1>Login with Facebook</h1>
	<figure class="facebook-svg">
		<a href="{% url 'social:begin' 'facebook' %}">
			<img src="{% static "img/icons/facebook.svg" %}" />
			<h2>Start</h2>
		</a>
	</figure>
{% endblock %}