<!DOCTYPE html>
<html lang="en">
<head>
	
	{% load static from staticfiles %}

	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO -->
	<meta name="description" content="{{ meta_description }}" />
	<link rel="author" href="https://plus.google.com/104498546185452959730" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:site_name" content="Salchicha Chingona" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:description" content="{{ meta_description }}" />
	<meta property="article:author" content="https://www.facebook.com/dreedi" />
	<meta property="article:publisher" content="https://www.facebook.com/dreedi" />
	<!-- SEO -->

	<!-- Static Files -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static "css/libraries/normalize.css" %}" />
	<!-- Static Files -->

	{% block head %}{% endblock %}

</head>
<body>

	{% block body %}{% endblock %}

	{% block body_links %}{% endblock %}
	
</body>
</html>