body{
	background: #3B5998;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
h1{
	text-align: center;
	font-size: 3em;
	color: white;
	font-weight: 100;
	margin: 3em 0;
}
h2{
	text-align: center;
	font-weight: 100;
	color: white;
}
a{
	text-decoration: none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
a:hover{
	opacity: .8;
}
.facebook-svg{
	width: 50%;
	max-width: 150px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.facebook-svg img{
	width: 100%;
}
@media (max-width: 440px) {
	h1 {
		margin: 1em 0;
	}
}